
:root {
    --main: rgba(240, 134, 34, 0.374);
    --dark: rgba(73, 39, 7, 0.99);
    --light: rgba(236, 185, 74, 0.83);
}


* {
    box-sizing: border-box;
    background-color: var(--main);
}

header {
    height: 100px;
    width: 100%;
    color: var(--dark);

}

.header_ul {
    display: flex;
    text-align: right;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    list-style: none;
}


a {
    text-decoration: none ;
    color: black;
}

a:hover {
    color: white;
    transition: 1s;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


h1 {
    text-align: end;
    width: 95%;
    padding: 10x; 
    margin: 0;

}


section {
    height: 400px;
    width: 100%;
}

.aboutMe {
    color: white;
}

p.aboutMe {
    flex-wrap: wrap;
    position: relative;

}

.asideAM {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    justify-content: center;
    color: var(--dark)

}

.asideW {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    justify-content: center;
    color: var(--dark);
}

.asideCM {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    justify-content: center;
    color: var(--dark)
}
.aside {
    background-color:var(--main);
    flex: 1
    
}

img {
    height: 80px;
    width: 80px;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: flex-end;
}